#include <windows.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION UATDEMO_VERSION_NUM
PRODUCTVERSION UATDEMO_VERSION_NUM
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "desktop-uat example"
      VALUE "FileDescription", "UAT Demo"
      VALUE "FileVersion", UATDEMO_VERSION_STR
      VALUE "OriginalFilename", "UatDemo.exe"
      VALUE "ProductName", "UAT Demo"
      VALUE "ProductVersion", UATDEMO_VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
